<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>


    <resultMap id="FilmResultMap" type="com.stylefeng.guns.rest.model.cinema.bo.FilmInfoBO">
        <result column="film_id" property="filmId" />
        <result column="film_name" property="filmName"/>
        <result column="film_length" property="filmLength" />
        <result column="film_cats" property="filmCats" />
        <result column="film_language" property="filmType" />
        <result column="imgAddress" property="imgAddress" />
    </resultMap>
    <resultMap id="HallResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeHallDictT">
        <id column="UUID" property="uuid" />
        <result column="film_id" property="filmId" />
        <result column="show_name" property="showName" />
        <result column="seat_address" property="seatAddress" />
    </resultMap>
   <!-- <select id="getHallByfieId" resultType="int">
        SELECT h.UUID,h.film_id,h.show_name,h.seat_address
        FROM mtime_hall_dict_t h
        LEFT JOIN mtime_field_t f

    </select>-->


      <select id="getFilmByfieId" resultMap="FilmResultMap">
          SELECT hf.film_id, hf.film_name, hf.film_length, hf.film_cats, hf.film_language, hf.img_address
          FROM mtime_hall_film_info_t hf
          LEFT JOIN mtime_field_t f
          ON hf.film_id = f.film_id
          <where>
              <if test="fieldId != 99">
                  AND f.`UUID` = #{fieldId}
              </if>
          </where>
      </select>


    <select id="getFieldByfieldId" resultMap="BaseResultMap">
        SELECT  UUID,cinema_id,film_id,begin_time,end_time,hall_id,hall_name,price
        FROM mtime_field_t
        <where>
            <if test="UUID != 99">
                AND UUID = #{fieldId}
            </if>
        </where>
    </select>


</mapper>
