<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeCinemaTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeCinemaT">
        <id column="UUID" property="uuid" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_phone" property="cinemaPhone" />
        <result column="brand_id" property="brandId" />
        <result column="area_id" property="areaId" />
        <result column="hall_ids" property="hallIds" />
        <result column="img_address" property="imgAddress" />
        <result column="cinema_address" property="cinemaAddress" />
        <result column="minimum_price" property="minimumPrice" />
    </resultMap>


    <resultMap id="CinemaMap" type="com.stylefeng.guns.rest.model.cinema.bo.CinemaBO">
        <id column="UUID" property="uuid" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_address" property="address" />
        <result column="minimum_price" property="minimumPrice" />
    </resultMap>

    <select id="getPageCinemas" resultMap="CinemaMap">
        SELECT `UUID`, cinema_name, cinema_address, minimum_price
        FROM mtime_cinema_t
        <where>
            <if test="brandId != 99">
                AND brand_id = #{brandId}
            </if>
            <if test="hallType != 99">
                AND hall_ids LIKE concat("%#", #{hallType}, "#%")
            </if>
            <if test="areaId != 99">
                AND area_id = #{areaId}
            </if>
        </where>
    </select>

    <select id="getTotalPage" resultType="int">
        SELECT count(*) FROM mtime_cinema_t
        <where>
            <if test="brandId != 99">
                AND brand_id = #{brandId}
            </if>
            <if test="hallType != 99">
                AND hall_ids LIKE concat("%#", #{hallType}, "#%")
            </if>
            <if test="areaId != 99">
                AND area_id = #{areaId}
            </if>
        </where>
    </select>

    <resultMap id="CinemaInfoMap" type="com.stylefeng.guns.rest.model.cinema.bo.CinemaInfoBO">
        <id column="UUID" property="cinemaId" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_phone" property="cinemaPhone" />
        <result column="img_address" property="imgUrl" />
        <result column="cinema_address" property="cinemaAddress" />
    </resultMap>

    <select id="getCinemaInfo" resultMap="CinemaInfoMap">
        SELECT UUID, cinema_name, cinema_phone, img_address, cinema_address
        FROM mtime_cinema_t
        WHERE UUID = #{cinemaId}
    </select>

</mapper>
