<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>


    <resultMap id="FilmBoMap" type="com.stylefeng.guns.rest.model.cinema.bo.FilmBO">
        <id column="hfiuuid" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_language" property="filmType" />
        <result column="film_length" property="filmLength" />
        <result column="film_cats" property="filmCats" />
        <result column="actors" property="actors" />
        <result column="img_address" property="imgAddress" />
        <collection property="filmFields" ofType="com.stylefeng.guns.rest.model.cinema.bo.FieldBO">
            <id column="fuuid" property="fieldId" />
            <result column="begin_time" property="beginTime" />
            <result column="end_time" property="endTime" />
            <result column="film_language" property="language" />
            <result column="hall_name" property="hallName" />
            <result column="price" property="price" />
        </collection>
    </resultMap>

    <select id="getFilmList" resultMap="FilmBoMap">
        SELECT hfi.`UUID` hfiuuid, hfi.film_name, hfi.film_language, hfi.film_length, hfi.film_cats, hfi.actors,
               hfi.img_address, f.`UUID` fuuid, f.begin_time, f.end_time, f.hall_name, f.price
        FROM mtime_hall_film_info_t hfi INNER JOIN mtime_field_t f ON hfi.film_id = f.film_id
    </select>


    <resultMap id="FilmInfoBoMap" type="com.stylefeng.guns.rest.model.cinema.bo.FilmInfoBO">
        <id column="UUID" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_language" property="filmType" />
        <result column="film_length" property="filmLength" />
        <result column="film_cats" property="filmCats" />
        <result column="img_address" property="imgAddress" />
        </resultMap>

    <select id="getFilmByFieldId" resultMap="FilmInfoBoMap">
        SELECT hfi.`UUID`, film_name, film_language, film_length, film_cats, img_address
        FROM mtime_hall_film_info_t hfi LEFT JOIN mtime_field_t f on hfi.film_id = f.film_id
        <where>
            <if test="fieldId != 99">
                AND f.`UUID` = #{fieldId}
            </if>
        </where>
    </select>




    <select id="getFilmDetailByName" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">
         SELECT
                film.uuid AS filmId,
                film.film_name AS filmName,
                info.`film_en_name` AS filmEnName,
                film.`img_address` AS imgAddress,
                info.`film_score` AS score,
                info.`film_score_num` AS scoreNum,
                film.`film_box_office` AS totalBox,
                (SELECT GROUP_CONCAT(show_name SEPARATOR ',') FROM mtime_cat_dict_t t
                  WHERE FIND_IN_SET (t.uuid,
                    (SELECT REPLACE(TRIM(BOTH '#' FROM film_cats),'#',',') FROM mtime_film_t t WHERE t.uuid=film.uuid))) AS info01,
                CONCAT((SELECT show_name FROM mtime_source_dict_t t WHERE t.uuid=film.uuid),' / ',info.`film_length`,'分钟') info02,
                CONCAT(film.`film_time`,(SELECT show_name FROM mtime_source_dict_t t WHERE t.uuid=film.uuid),'上映') info03
          FROM mtime_film_t film,mtime_film_info_t info
          WHERE film.`UUID` = info.`film_id`
          AND film.film_name LIKE #{filmName}
    </select>

    <select id="getFilmDetailById" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">

          SELECT
                film.uuid AS filmId,
                film.film_name AS filmName,
                info.`film_en_name` AS filmEnName,
                film.`img_address` AS imgAddress,
                info.`film_score` AS score,
                info.`film_score_num` AS scoreNum,
                film.`film_box_office` AS totalBox,
                (SELECT GROUP_CONCAT(show_name SEPARATOR ',') FROM mtime_cat_dict_t t
                  WHERE FIND_IN_SET (t.uuid,
                    (SELECT REPLACE(TRIM(BOTH '#' FROM film_cats),'#',',') FROM mtime_film_t t WHERE t.uuid=film.uuid))) AS info01,
                CONCAT((SELECT show_name FROM mtime_source_dict_t t WHERE t.uuid=film.uuid),' / ',info.`film_length`,'分钟') info02,
                CONCAT(film.`film_time`,(SELECT show_name FROM mtime_source_dict_t t WHERE t.uuid=film.uuid),'上映') info03
          FROM mtime_film_t film,mtime_film_info_t info
          WHERE film.`UUID` = info.`film_id`
          AND film.`UUID` = #{uuid}
    </select>
</mapper>
